<%= javascript_include_tag 'swfobject_modified.js' %>
<tr>
  <td colspan="41"><img name="index4_r16_c2" src="images/index4_r16_c2.gif" width="900" height="339" border="0" id="index4_r16_c2" alt="" /></td>
  <td><div align="center"><img src="images/spacer.gif" width="1" height="339" border="0" alt="" /></div></td>
</tr>
<tr>
  <td rowspan="17"><img name="index4_r17_c2" src="images/index4_r17_c2.gif" width="12" height="856" border="0" id="index4_r17_c2" alt="" /></td>
  <td rowspan="3" colspan="27" valign="top" bgcolor="#7E3131"><p style="margin:0px"> 
    <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="575" height="250">
      <param name="movie" value="/images/banner.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="9.0.45.0" />
      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
      <param name="expressinstall" value="/javascripts/expressInstall.swf" />
      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="/images/banner.swf" width="575" height="250">
        <!--<![endif]-->
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="9.0.45.0" />
        <param name="expressinstall" value="/javascripts/expressInstall.swf" />
        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
        <div>
          <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
        </div>
        <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
    </object>
  </p></td>
  <td colspan="13"><img name="index4_r17_c30" src="images/index4_r17_c30.gif" width="290" height="18" border="0" id="index4_r17_c30" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="18" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="5" colspan="4"><img name="index4_r18_c30" src="images/index4_r18_c30.gif" width="25" height="310" border="0" id="index4_r18_c30" alt="" /></td>
  <td colspan="8" valign="top" bgcolor="#843A3A">
    <p style="margin:0px">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 1,
      interval: 6000,
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#301c03',
          color: '#ffffff'
        },
        tweets: {
          background: '#8a6e11',
          color: '#ffffff',
          links: '#081403'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('Revbuckman').start();
    </script>
    </p>
  </td>
  <td rowspan="16"><img name="index4_r18_c42" src="images/index4_r18_c42.gif" width="12" height="838" border="0" id="index4_r18_c42" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="236" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="4" colspan="8"><img name="index4_r19_c34" src="images/index4_r19_c34.gif" width="253" height="74" border="0" id="index4_r19_c34" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
</tr>
<tr>
  <td colspan="27"><img name="index4_r20_c3" src="images/index4_r20_c3.gif" width="598" height="56" border="0" id="index4_r20_c3" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="56" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="6" colspan="3"><img name="index4_r21_c3" src="images/index4_r21_c3.gif" width="88" height="168" border="0" id="index4_r21_c3" alt="" /></td>
  <td rowspan="3" colspan="9"><a href="pastor15.mov"><img name="index4_r21_c6" src="images/index4_r21_c6.gif" width="239" height="149" border="0" id="index4_r21_c6" alt="" /></a></td>
  <td colspan="15"><img name="index4_r21_c15" src="images/index4_r21_c15.gif" width="271" height="8" border="0" id="index4_r21_c15" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="8" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="12" colspan="2"><img name="index4_r22_c15" src="images/index4_r22_c15.gif" width="19" height="531" border="0" id="index4_r22_c15" alt="" /></td>
  <td rowspan="3" colspan="12"><a href="childdevlopment.htm"><img name="index4_r22_c17" src="images/index4_r22_c17.gif" width="237" height="145" border="0" id="index4_r22_c17" alt="" /></a></td>
  <td rowspan="12"><img name="index4_r22_c29" src="images/index4_r22_c29.gif" width="15" height="531" border="0" id="index4_r22_c29" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="3" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="11"><img name="index4_r23_c30" src="images/index4_r23_c30.gif" width="9" height="528" border="0" id="index4_r23_c30" alt="" /></td>
  <td rowspan="2" colspan="9"><a href="http://www.fabcdc.org/"><img name="index4_r23_c31" src="images/index4_r23_c31.gif" width="235" height="142" border="0" id="index4_r23_c31" alt="" /></a></td>
  <td rowspan="3" colspan="2"><img name="index4_r23_c40" src="images/index4_r23_c40.gif" width="34" height="152" border="0" id="index4_r23_c40" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="138" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="3" colspan="9"><img name="index4_r24_c6" src="images/index4_r24_c6.gif" width="239" height="19" border="0" id="index4_r24_c6" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="4" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="2" colspan="12"><img name="index4_r25_c17" src="images/index4_r25_c17.gif" width="237" height="15" border="0" id="index4_r25_c17" alt="" /></td>
  <td colspan="9"><img name="index4_r25_c31" src="images/index4_r25_c31.gif" width="235" height="10" border="0" id="index4_r25_c31" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="10" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="2" colspan="10"><a href="announcements.htm"><img name="index4_r26_c31" src="images/index4_r26_c31.gif" width="239" height="147" border="0" id="index4_r26_c31" alt="" /></a></td>
  <td rowspan="8"><img name="index4_r26_c41" src="images/index4_r26_c41.gif" width="30" height="376" border="0" id="index4_r26_c41" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="5" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="7"><img name="index4_r27_c3" src="images/index4_r27_c3.gif" width="74" height="371" border="0" id="index4_r27_c3" alt="" /></td>
  <td colspan="10"><a href="sermons.htm"><img name="index4_r27_c4" src="images/index4_r27_c4.gif" width="247" height="142" border="0" id="index4_r27_c4" alt="" /></a></td>
  <td rowspan="7"><img name="index4_r27_c14" src="images/index4_r27_c14.gif" width="6" height="371" border="0" id="index4_r27_c14" alt="" /></td>
  <td rowspan="7" colspan="2"><img name="index4_r27_c17" src="images/index4_r27_c17.gif" width="6" height="371" border="0" id="index4_r27_c17" alt="" /></td>
  <td colspan="9"><a href="onlinegiving.htm"><img name="index4_r27_c19" src="images/index4_r27_c19.gif" width="221" height="142" border="0" id="index4_r27_c19" alt="" /></a></td>
  <td rowspan="7"><img name="index4_r27_c28" src="images/index4_r27_c28.gif" width="10" height="371" border="0" id="index4_r27_c28" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="142" border="0" alt="" /></td>
</tr>
<tr>
  <td colspan="10"><img name="index4_r28_c4" src="images/index4_r28_c4.gif" width="247" height="10" border="0" id="index4_r28_c4" alt="" /></td>
  <td rowspan="2" colspan="9"><img name="index4_r28_c19" src="images/index4_r28_c19.gif" width="221" height="15" border="0" id="index4_r28_c19" alt="" /></td>
  <td colspan="10"><img name="index4_r28_c31" src="images/index4_r28_c31.gif" width="239" height="10" border="0" id="index4_r28_c31" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="10" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="3" colspan="9"><a href="christfund.htm"><img name="index4_r29_c4" src="images/index4_r29_c4.gif" width="237" height="139" border="0" id="index4_r29_c4" alt="" /></a></td>
  <td rowspan="5"><img name="index4_r29_c13" src="images/index4_r29_c13.gif" width="10" height="219" border="0" id="index4_r29_c13" alt="" /></td>
  <td rowspan="5" colspan="2"><img name="index4_r29_c31" src="images/index4_r29_c31.gif" width="8" height="219" border="0" id="index4_r29_c31" alt="" /></td>
  <td rowspan="4" colspan="8"><a href="http://www.facebook.com/pages/Fifteenth-Avenue-Baptist-Church/356456171650  " target="_blank"><img name="index4_r29_c33" src="images/index4_r29_c33.gif" width="231" height="146" border="0" id="index4_r29_c33" alt="" /></a></td>
  <td><img src="images/spacer.gif" width="1" height="5" border="0" alt="" /></td>
</tr>
<tr>
  <td colspan="8"><a href="updates1.htm"><img name="index4_r30_c19" src="images/index4_r30_c19.gif" width="212" height="129" border="0" id="index4_r30_c19" alt="" /></a></td>
  <td rowspan="4"><img name="index4_r30_c27" src="images/index4_r30_c27.gif" width="9" height="214" border="0" id="index4_r30_c27" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="129" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="3" colspan="8"><img name="index4_r31_c19" src="images/index4_r31_c19.gif" width="212" height="85" border="0" id="index4_r31_c19" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="5" border="0" alt="" /></td>
</tr>
<tr>
  <td rowspan="2" colspan="9"><img name="index4_r32_c4" src="images/index4_r32_c4.gif" width="237" height="80" border="0" id="index4_r32_c4" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="7" border="0" alt="" /></td>
</tr>
<tr>
  <td colspan="8"><img name="index4_r33_c33" src="images/index4_r33_c33.gif" width="231" height="73" border="0" id="index4_r33_c33" alt="" /></td>
  <td><img src="images/spacer.gif" width="1" height="73" border="0" alt="" /></td>
</tr>
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->
</script>
