<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Fifteenth Avenue Baptist Church</title>
<meta http-equiv="Content-Type" content="text/html;">
</head>
<body bgcolor="#350403">
<div align="center">
  <table border="0" cellpadding="0" cellspacing="0" width="866">
    <tr>
      <td><img src="images/spacer.gif" width="281" height="1" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="270" height="1" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="315" height="1" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="1" height="1" border="0" alt=""></td>
    </tr>

    <tr>
      <td colspan="3"><img name="index5_r1_c1" src="images/index5_r1_c1.jpg" width="866" height="160" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="1" height="160" border="0" alt=""></td>
    </tr>
    <tr>
      <td colspan="3"><img name="index5_r2_c1" src="images/index5_r2_c1.jpg" width="866" height="97" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="1" height="97" border="0" alt=""></td>
    </tr>
    <tr>
      <td rowspan="2"><img name="index5_r3_c1" src="images/index5_r3_c1.jpg" width="281" height="368" border="0" alt=""></td>
      <td><a href="http://www.fifteenth.org/front.htm" target="_blank"><img name="index5_r3_c2" src="images/index5_r3_c2.jpg" width="270" height="36" border="0" alt=""></a></td>
      <td rowspan="2"><img name="index5_r3_c3" src="images/index5_r3_c3.jpg" width="315" height="368" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="1" height="36" border="0" alt=""></td>
    </tr>
    <tr>
      <td><img name="index5_r4_c2" src="images/index5_r4_c2.jpg" width="270" height="332" border="0" alt=""></td>
      <td><img src="images/spacer.gif" width="1" height="332" border="0" alt=""></td>
    </tr>
  </table>
</div>
</body>
</html>

